@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Indie+Flower&family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');


body{
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    font-size:0.9rem;
    background: rgb(215, 242, 255);
    background: linear-gradient(90deg, rgb(105, 105, 105) 0%, rgba(255,255,255,1) 100%, rgba(255, 255, 255, 0.205) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
    
}

.righty{
    margin-left: 50rem;
}

.heighty{
    height: 10rem;
}

.smally{
    width: 17rem;
    
}

.rightys{
    margin-left: 38rem;
}

.bground {
    background-color:rgba(114, 114, 114, 0.897);
    /* background: linear-gradient(90deg, rgb(32, 0, 105) 0%, rgb(255, 251, 25) 100%, rgba(255, 14, 14, 0.205) 100%, rgb(255, 18, 18) 100%, rgba(243, 16, 16, 0) 100%); */

   
}

h1{
    font-family: "Roboto";
    text-shadow: 1px 1px ;
    font-size: 1.7rem;

}

#small{
    font-size: 1.4rem;
}

img{
    height: 20vh;
}

.wide-box{
    width: 20vw;
}
.wide-small{
    width: 20vw;
}

h2{
    font-size:1.4rem;
}

.gest{
    margin:12rem
}
#gest-2{
    margin-left: 4rem;
}
#gest-3{
    margin-top:2.1rem;
}